body {
	font-family: 'Open Sans', sans-serif;
	width: 80%;
	margin-left:auto;
	margin-right:auto;

}

.vis-container {
    align-content: center;
    width: 100%;
}

.heat-map-container {
    align-content: center;
    width: 100%;
}

h1 {
	background-color: darkred;
	color: white;
    font-size: 4em;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: .3em;
	padding-right: .3em;
  }

h2 {
	background-color: darkred;
	color: white;
	font-size: 2.5em;
	padding-top: .75em;
	padding-bottom: .75em;
	margin-top: 1.5em;
	text-align: center;
}

h3 {
    background-color: darkred;
	color: white;
	font-size: 2.5em;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: 2em;
	text-align: center;
}


h4 {
    font-size: 1.5em;
	padding-left: 5em;
	padding-right: 5em;
	text-align: center;
	font-weight: normal;
	line-height: 1.5em;
  }

h5 {
    font-size: 1.25em;
	font-weight: normal;
	padding-left: 2em;
	line-height: 1.5em;
  }

h6 {
    font-size: 1em;
	font-weight: normal;
	padding-right: 43em;
  }

h7 {
    font-size: 1em;
	font-weight: normal;
	margin-left: 60em;
	float: right;
  }

.footer {
    font-size: 1em;
	font-weight: normal;
	color: white;
	padding-top: .75em;
	padding-bottom: .75em;
	margin-left:auto;
	margin-right:auto;
	background-color: darkred;
  }

p {
    font-size: 1.25em;
	padding-left: 8em;
	padding-right: 8em;
	text-align: center;
	line-height: 1.5em;
  }

.vis-container-left-col {
	float: left;
	width: 60%;

}
.vis-container-right-col {
	float: right;
    width: 55%;
}

.double-column{
	width: 100%;
	display: block;
}

.side-text {
	float: left;
	width: 40%;	
}

.side-text-2 {
	float: left;
	width: 43%;	
}